@page
@model PandaRestaurant.Pages.Orders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order ID: @Html.DisplayFor(model => model.Order.OrderID)</h4>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-8 line-container bg-opacity-10 shadow-lg m-2 rounded-3">
                <div class="line">
                    @if (Model.Order.OrderStatus.ToString() == "Created")
                    {
                        <div class="step active">
                            <span class="circle"> </span> <span class="text">Order Created</span>
                        </div>
                        <div class="step">
                            <span class="circle"> </span> <span class="text">Order Preparing</span>
                        </div>
                        <div class="step">
                            <span class="circle"> </span> <span class="text">Order Ready</span>
                        </div>
                        <div class="step">
                            <span class="circle"> </span> <span class="text">Order Paid</span>
                        </div>
                    }
                    else if (Model.Order.OrderStatus.ToString() == "Preparing")
                    {
                        <div class="step active">
                            <span class="circle"> </span> <span class="text">Order Created</span>
                        </div>
                        <div class="step active">
                            <span class="circle"> </span> <span class="text">Order Preparing</span>
                        </div>
                        <div class="step">
                            <span class="circle"> </span> <span class="text">Order Ready</span>
                        </div>
                        <div class="step">
                            <span class="circle"> </span> <span class="text">Order Paid</span>
                        </div>
                    }
                    else if (Model.Order.OrderStatus.ToString() == "Ready")
                    {
                        <div class="step active">
                            <span class="circle"> </span> <span class="text">Order Created</span>
                        </div>
                        <div class="step active">
                            <span class="circle"> </span> <span class="text">Order Preparing</span>
                        </div>
                        <div class="step active">
                            <span class="circle"> </span> <span class="text">Order Ready</span>
                        </div>
                        <div class="step">
                            <span class="circle"> </span> <span class="text">Order Paid</span>
                        </div>
                    }
                    else if (Model.Order.OrderStatus.ToString() == "Paid") 
                    {
                        <div class="step active">
                            <span class="circle"> </span> <span class="text">Order Created</span>
                        </div>
                        <div class="step active">
                            <span class="circle"> </span> <span class="text">Order Preparing</span>
                        </div>
                        <div class="step active">
                            <span class="circle"> </span> <span class="text">Order Ready</span>
                        </div>
                        <div class="step active">
                            <span class="circle"> </span> <span class="text">Order Paid</span>
                        </div>
                    }

                </div>
            </div>
            <div class="col shadow-lg m-2 rounded-3 circle-container">
                <div class="d-flex flex-column rounded-circle circle-size text-center text-light">
                    <div class="d-flex flex-grow-1 justify-content-center align-items-center">
                        Table @Html.DisplayFor(modelItem => Model.Order.TableID)
                    </div>
                </div>
                <a asp-page="./Edit" asp-route-id="@Model.Order?.OrderID" class="d-flex flex-column text-center justify-content-center edit-order-button text-decoration-none text-light">
                    Edit Order
                </a>
                <div class="float-md-start m-2 text-light">
                    Total:
                </div>
                <div class="float-end m-2 text-light">
                    @{
                        var totalPrice = 0.00;
                    }
                    @foreach (var menuItem in Model.Order.MenuItem)
                    {
                        totalPrice += menuItem.MenuItemPrice;
                    }
                    @{
                        var formattedPrice = string.Format("{0:0.00}", totalPrice);
                    }
                    £ @Html.DisplayFor(modelItem => formattedPrice)
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Item ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Prep Time
                </th>
                <th>
                    Price
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Order.MenuItem)
            {
                <tr onclick="location.href = '../MenuItems/Details?id='+@item.MenuItemID">
                    <td>
                        @Html.DisplayFor(modelItem => item.MenuItemID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MenuItemName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MenuItemPrepTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MenuItemPrice)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
