@page
@model PandaRestaurant.Pages.Customers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Customers</h1>

<p>
    <a asp-page="Create">Create New</a> 
</p>
<div id="table" class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Customer Name</th>
                <th scope="col">Active Orders</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Customer)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerName)
                    </td>
                    <td scope="row">@Html.DisplayFor(modelItem => item.Orders.Count)</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.CustomerID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.CustomerID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.CustomerID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
