@page
@model PandaRestaurant.Pages.Customers.IndexModel

@{
    ViewData["Title"] = "Customers";
}

<h1>Customers</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index" class="btn btn-outline-dark">Back to full List</a>
        </p>
    </div>
</form>

<div id="table" class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                        @Html.LabelFor(model => model.Customer[0].CustomerName, "Customer Name")
                    </a>
                </th>
                <th scope="col">
                    <a asp-page="./Index" asp-route-sortOrder="@Model.OrderSort">
                        @Html.LabelFor(model => model.Customer[0].Orders.Count, "Active Orders")
                    </a>
                </th>
                <th scope="col">Edit Customer</th>
                <th scope="col">Remove Customer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Customer)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerName)
                    </td>
                    <td scope="row">
                        @{
                            List<int> activeOrders = new List<int>();
                        }
                        @foreach (var order in item.Orders)
                        {
                            if (order.OrderStatus.ToString() != "Paid")
                            {
                                activeOrders.Add(order.OrderID);
                            }
                        }
                        @Html.DisplayFor(modelItem => activeOrders.Count)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.CustomerID" class="btn btn-primary btn-warning">Edit</a>
                    </td>
                    <td>
                        <a asp-page="./Delete" asp-route-id="@item.CustomerID" class="btn btn-primary btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
