@page
@model PandaRestaurant.Pages.Tables.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Tables</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.TableNumberSort">
                    @Html.DisplayNameFor(model => model.Table[0].TableID)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.OccupiedSort">
                    @Html.DisplayNameFor(model => model.Table[0].TableOccupied)
                </a>
            </th>
            <th>
                Active Orders
            </th>
            <th>
                Table Details
            </th>
            <th>
                Edit Table
            </th>
            <th>
                Remove Table
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Table)
        {
            <tr onclick="location.href = 'Tables/Details?id='+@item.TableID">
                <td>
                    @Html.DisplayFor(modelItem => item.TableID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TableOccupied)
                </td>
                <td>
                    @{
                        List<int> activeOrders = new List<int>();
                    }
                    @foreach (var order in item.Orders)
                    {
                        // @Html.DisplayFor(modelItem => item.OrderStatus.ToString())
                        if (order.OrderStatus.ToString() != "Paid")
                        {
                            activeOrders.Add(order.OrderID);
                        }
                    }
                    @Html.DisplayFor(modelItem => activeOrders.Count)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.TableID" class="details">Details</a>
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.TableID">
                        <img class="edit" src="~/images/edit-button.svg" alt="Edit" />
                    </a>
                </td>
                <td>
                    <a asp-page="./Delete" asp-route-id="@item.TableID">
                        <img class="delete" src="~/images/delete-button.svg" alt="Delete" />
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
